/*Individuelles Stylesheet für diese Seite*/
.image34{
    height: 340px;
    width: 100%;
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.border-bottom{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}