/*** CSS für Jquery Galerie 1 ***/

a:active, a:focus {
	outline: none
}

#glws_GalleryList {
	float: left; 
	padding: 0 8px 8px 0;
}

.glws_GalleryThumb img {
	border: 2px solid #999;
}
.glws_GalleryThumb img:hover {
	border: 2px solid #333;
}


#downloadLink {
	position:absolute;
	width:100%;
	text-align:center;
	left:0;	
	bottom:4px;
}

#downloadLink a {
	color:#666;
	text-decoration:none;
}

#downloadLink a:hover {
	color:#ffbb44;
	text-decoration:none;
}

#cboxSlideshow {
	color:#666;	
}
#cboxSlideshow:hover {
	color:#ffbb44;	
}
#lightboxTitle {
	padding-top:10px;	
}