
<div class="glws_GalleryContainer">
	 {if $glwp_GalleryCount > 0}

	  	 <!-- Mehrere Alben vorhanden -->
		 {if $glwp_GalleryCount > 1}
			{if $glwp_GallerySettings.header != ''}
			   <div class="glws_GalleryHeader">
					{$glwp_GallerySettings.header}
			   </div>
			{/if}
		    <div class="glws_GalleryBody">
		        <table class="glws_GalleryTable" cellspacing="0" cellpadding="0" border="0">
		        {foreach item=field from=$glwp_Galleries}
		            <tr>
		                <td class="glws_GalleryContent">
		                    <a class="glws_GalleryTitle" href="{$field.link}">{$field.title}</a>
		                    {if $field.desc != ''}
		                    <span class="glws_GalleryDesc">{$field.desc}</span>
		                    {/if}
		                </td>
		                {if $field.thumb != ''}
		                <td class="glws_GalleryThumb">
		                    <a class="glws_GalleryTitle" href="{$field.link}"><img border="0" src="{$glwp_GalleryPath}{$field.id}/glw_thumbnails/{$field.thumb}" title="{$field.title}" alt="{$field.title}" /></a>
		                </td>
		                {/if}
		            </tr>
		        {/foreach}
		        </table>
		    </div>
			 {if $glwp_GallerySettings.footer != ''}
			    <div class="glws_GalleryFooter">
			 		{$glwp_GallerySettings.footer}
			    </div>
			 {/if}

		 <!-- Nur ein Album vorhanden oder einzelnes Album ausgewählt-->
		 {else}
			<div class="glws_GalleryHeader">
				<h1>{$glwp_Galleries[0].title}</h1>
				{if $glwp_Galleries[0].desc != ''}
						<p>{$glwp_Galleries[0].desc}</p>
				{/if}
			</div>
			
			
			<div id="galleryNav">
				<a href="#" id="prevGallery">&lt;&lt; {$glwp_GalleryItemBack}</a>
				<a href="#" id="playGallery">Play</a>
				<a href="#" id="nextGallery">{$glwp_GalleryItemNext} &gt;&gt;</a>
			
			</div>
			
			
			<div id="allImages">
			{assign var="galleryId" value=$glwp_Galleries[0].id}
			{assign var="checker" value=1}
		    {foreach item=field from=$glwp_GalleryItems.$galleryId}
		    
		    {if $checker==1}
		    	<div id="{$field.id}" class="imageHolderBidFirst">
					   <a href="{$glwp_GalleryPath}{$galleryId}/{$field.image}" rel="{$galleryId}" target="_blank">
		    			<img border="0" src="{$glwp_GalleryPath}{$galleryId}/glw_mediumsize/{$field.image}" alt="{$field.title}" />						
					   </a>
					
					{if $field.title != ''}
		    			<h2>{$field.title}</h2>
					{/if}
					
					{if $field.desc != ''}
		    			<p>{$field.desc}</p>
					{/if}
					
		    	</div>
		    	{assign var="checker" value=2}
		    {else}
		    	<div id="{$field.id}" class="imageHolderBid">
					   <a href="{$glwp_GalleryPath}{$galleryId}/{$field.image}" rel="{$galleryId}" target="_blank">
		    			<img border="0" src="{$glwp_GalleryPath}{$galleryId}/glw_mediumsize/{$field.image}" alt="{$field.title}" />						
					   </a>
					
					{if $field.title != ''}
		    			<h2>{$field.title}</h2>
					{/if}
					
					{if $field.desc != ''}
		    			<p>{$field.desc}</p>
					{/if}
					
		    	</div>
		    {/if}
		    {/foreach}
		    </div>

			
			
			{assign var="galleryId" value=$glwp_Galleries[0].id}
		    {foreach item=field from=$glwp_GalleryItems.$galleryId}
		    	<div class="thumbnailLink">
					
					<a href="#" onclick="javascript:showImage('{$field.id}'); return false;" title="{$field.title}" rel="{$galleryId}">
		    			<img border="0" rel="{$field.id}" src="{$glwp_GalleryPath}{$galleryId}/glw_thumbnails/{$field.image}" alt="{$field.title}" />						
					</a>
					
		    	</div>
		    {/foreach}

		    <!-- Backlink -->
		 	{if $glwp_AllGalleriesCount > 1}
		 		<br class="glws_ClearAll" />
			 	<p><a href="{$glwp_GalleryLink}" title="{$glwp_GalleryOverview}">{$glwp_GalleryOverview}</a></p>
		 	{/if}


		 {/if}
	 {/if}
</div>
<br class="glws_ClearAll" />

