
<div class="glws_GalleryContainer">
	 {if $glwp_GalleryCount > 0}

	  	 <!-- Mehrere Alben vorhanden -->
		 {if $glwp_GalleryCount > 1}
			{if $glwp_GallerySettings.header != ''}
			   <div class="glws_GalleryHeader">
					{$glwp_GallerySettings.header}
			   </div>
			{/if}
		    <div class="glws_GalleryBody">
		        <ul class="albumList">
		        {foreach item=field from=$glwp_Galleries}
		        	<li>
			        	<a class="glws_GalleryTitle" href="{$field.link}">
			        			{$field.title}
			            </a>

		                <ul>
		                	<li>

		                		<div class="galleryDescription">
		                			{if $field.desc != ''}
				                    <span class="glws_GalleryDesc">{$field.desc}</span>
				                    {/if}
		                		</div>

		                		{assign var="galleryId" value=$field.id}
		                		{foreach item=field from=$glwp_GalleryItems.$galleryId}

		                		<div id="glws_GalleryList">

									<a href="{$glwp_PathWebRoot}/moduls/jgallery/ajax.php?action=htmlitem&amp;id={$field.id}&amp;galleryId={$galleryId}" class="colorbox" title="" rel="{$galleryId}">
						    			<img border="0" src="{$glwp_GalleryPath}{$galleryId}/glw_thumbnails/{$field.image}" alt="{$field.title}" />
									</a>

									{if $field.title != ''}
						    			<br />{$field.title}
									{/if}

						    	</div>



		                		{/foreach}

		                		<div style="clear:both"></div>

		                	</li>
		                </ul>

		            </li>
		        {/foreach}
		        </ul>
		    </div>
			 {if $glwp_GallerySettings.footer != ''}
			    <div class="glws_GalleryFooter">
			 		{$glwp_GallerySettings.footer}
			    </div>
			 {/if}

		 <!-- Nur ein Album vorhanden oder einzelnes Album ausgewählt-->
		 {else}
			<div class="glws_GalleryHeader">
				<h1>{$glwp_Galleries[0].title}</h1>
				{if $glwp_Galleries[0].desc != ''}
						{$glwp_Galleries[0].desc}
				{/if}
			</div>
			{assign var="galleryId" value=$glwp_Galleries[0].id}
		    {foreach item=field from=$glwp_GalleryItems.$galleryId}
		    	<div id="glws_GalleryList">

					<a href="{$glwp_PathWebRoot}/moduls/jgallery/ajax.php?action=htmlitem&amp;id={$field.id}&amp;galleryId={$galleryId}" class="colorbox" title="" rel="{$galleryId}">
		    			<img border="0" src="{$glwp_GalleryPath}{$galleryId}/glw_thumbnails/{$field.image}" alt="{$field.title}" />
					</a>

					{if $field.title != ''}
		    			<br />{$field.title}
					{/if}

		    	</div>
		    {/foreach}

		    <!-- Backlink -->
		 	{if $glwp_AllGalleriesCount > 1}
		 		<br class="glws_ClearAll" />
			 	<p><a href="{$glwp_GalleryLink}" title="{$glwp_GalleryOverview}">{$glwp_GalleryOverview}</a></p>
		 	{/if}


		 {/if}
	 {/if}
</div>
<br class="glws_ClearAll" />

